#Tab separated values
#Case sensitive
#
#Default action for all INFO and FORMAT fields, other fields are untouched
#KEEP - no change, DROP 
DEFAULT KEEP
#Convert INFO fields BaseQRankSum,END,DS to FORMAT fields
INFO    DS      DROP 
INFO    DP      COPY_TO_FORMAT
INFO    MLEAC   DROP
INFO    MLEAF   DROP
#FORMAT  GQ      DROP

