#Tab separated values
#Case sensitive
#
#Default action for all INFO and FORMAT fields, other fields are untouched
#KEEP - no change, DROP 
DEFAULT KEEP
#Convert INFO fields BaseQRankSum,END,DS to FORMAT fields
INFO    BaseQRankSum    MOVE_TO_FORMAT
INFO    END     MOVE_TO_FORMAT
INFO    DS      MOVE_TO_FORMAT
#Drop FORMAT field MIN_DP
FORMAT  MIN_DP  DROP
